# Ignore Python bytecode and cache files
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info
*.egg
*.whl
*.DS_Store
*.vscode
*.idea
*.sublime-project
*.sublime-workspace

#Ignore vscode AI rules
.github/copilot-instructions.md

# Virtual environments
.venv/
env/
venv

# Custom tools
toos/
code_crawler_results/*
.github/
ignore/

# Outputs
*.zip
runs/*

# Plans
suggestions/
from_physicist_agent/
FUM_Demo/
resume.md
/mnt/ironwolf/git/Void_FUM_Private/Void_FUM_Private/Void_Unity_Proofs/derivation/GPT5

# Data
*.pdf

fum_rt/data/wikipedia/enwiki-latest-pages-articles.xml.bz2
derivation/GPT5/*
UP_NEXT.md
fum_original_v2
Void_Unity_Proofs.code-workspace
fum_rt/data/corpus (copy 1)
fum_rt/data/corpus/unsorted/*